# Ignore node_modules directory
node_modules/

# Ignore Logs
logs 
*.log 

# Ignore build directory
**/dist

# Ignore environment variables
.env 

# Ignore IDE specific files
.vscode/

# Ignore DS_Store
**/.DS_Store